U1-XML/U1_T2/ej2.dtd

<!ELEMENT students (student+)>
<!ELEMENT student (name,address+,phone)>
<!ATTLIST student dni CDATA #REQUIRED>

<!ELEMENT  address (street,number,city,province)>

<!ELEMENT name (#PCDATA)>
<!ELEMENT phone (#PCDATA)>

<!ELEMENT street (#PCDATA)>
<!ELEMENT number (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT province (#PCDATA)>